.mainpage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 0 2.5%;
	text-transform: capitalize;
	background-image: url('../assets/images/jan-pultin-wZUNDmWMvf0-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	& img {
		height: 30px;
		width: 30px;
	}
	&-centerDiv {
		& h1 {
			text-align: center;
			color: white;
		}
	}
}
